---
import { Font } from 'astro:assets';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Font cssVariable="--font-inter" />
    <Font cssVariable="--font-jetbrains-mono" />
    <Font cssVariable="--font-noto-sans-jp" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
